{% extends parent_template|default:"geolocalisation/base_geolocalisation.html" %}
{%	load	obfuscate_email	%}


{% block title %}
	{{ block.super }} - {{ localisation.cimetiere|title }}
{% endblock %}


{% block content %}
<dl>
	
      <dd>{{ localisation.contact|obfuscate }}</dd>
    
</dl>

<ul>
	<li><a href="{{ localisation.get_update_url }}">Localiser {{ localisation.cimetiere|title }}</a></li>
	<li><a href="{{ localisation.get_delete_url }}">Delete Localisation</a></li>
	
</ul>

{% endblock %}
